/* Mobile style */
/* Base styles --------------------->*/
body {
  font-family: "Nunito", sans-serif;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-weight: 100;
  font-size: 110%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar > li {
  display: inline-block;
  margin-top: 0;
  margin-right: 0.9rem;
  margin-left: 0.9rem;
  margin-bottom: 0;
  text-decoration: underline;
}

.schedule-button,
.chat-description form input[type="submit"] {
  background-color: blue;
  text-decoration: none;
  color: white;
  width: 8em;
  text-align: center;
  display: inline-block;
  padding: 0.5em;
}

.schedule-button {
  border-radius: 5%;
}

.chat-description form input[type="submit"] {
  border: none;
  padding: 0.5em;
  border-radius: 10%;
  display: inline-block;
}
